// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import "header";
//Variable
$light-base: #fff;
$dark-base: #000;
$orange-light: #f2a51a;
$orange-overlay1: #f2a51ad1;
$orange-overlay2: #ea6227f5;
$orange: #ea6227;
$navbar-light: $dark-base;
$primary-color: $orange;
$link-color: $primary-color;
$font-stack: Raleway;
$font-stack2: Montserrat;
$aboutMe-bg: #f5f5f5;
$nav-link: rgba(3, 2, 2, 0.842);
$theme-colors: ("warning": $orange);
$form-header-bg:#f5f5f5;
$form-bg:#fff;
$navbar-bg:#000;
$font-color:#000;


/*========MIXINS==============*/
@mixin header_height($height) {
  //Height for the page heade
  height: $height;
}

@mixin banner_postion($from_top) {
  //Postioning of banner from top
  position: relative;
  top: $from_top;
}

@mixin banner_header($font-size) {
  font-size: $font-size;
}

@mixin page-title($base-color, $hover-color) {
  word-spacing: 3px;
  font-weight: 400;
  font-size: 1.5em;
  color: $base-color;
  text-transform: capitalize;
  transition: ease-in 0.2s;

  &:hover {
    color: $hover-color;
    transform: scale(1.3);
  }
}

//Body Typograpghy
body {
  font-family: "Raleway";
  font-size: 16px;
  color: $dark-base;
  line-height: 1.5;
  font-weight: 400;
}

.page-header {
  box-shadow: 5px 0 7px 12px $orange-light;
  height: 75vh;
  position: relative;
  background-image: linear-gradient(to right, $orange-overlay1, $orange),
    url(../images/robert-gomez-X1YdDXmHS4w-unsplash.jpg);
  background-repeat: no-repeat;
  font-family: $font-stack;
  font-weight: 700;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
    @include header_height(30vh);
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
    @include header_height(33vh);
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    @include header_height(40vh);
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {
    @include header_height(50vh);
  }

  // Extra large devices (large desktops, 1200px and 1824px )
  @media (min-width: 1200px) and (max-width: 1920px) {
    @include header_height(70vh);
  }

  @media (min-width: 2559.98px) and (max-width: 3999.98px) {
    @include header_height(75vh);
  }

  &_banner {
    color: $light-base;
    @include banner_postion(5%);

    @media (max-width: 575.98px) {
      @include banner_postion(20%);
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) {
      @include banner_postion(20%);
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {
      @include banner_postion(17%);
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) {
      @include banner_postion(20%);
    }

    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) and (max-width: 1920px) {
      @include banner_postion(25%);
    }

    @media (min-width: 2559.98px) and (max-width: 3999.98px) {
      @include banner_postion(30%);
    }

    /*==============HEADER-HEADING H1 STYLES======================*/
    &--content-header {
      font-family: "Montserrat", sans-serif;
      @include banner_header(3em);

      @media (max-width: 575.98px) {
        @include banner_header(3em);
      }

      // Small devices (landscape phones, 576px and up)
      @media (min-width: 576px) and (max-width: 767.98px) {
        @include banner_header(3.1em);
      }

      // Medium devices (tablets, 768px and up)
      @media (min-width: 768px) and (max-width: 991.98px) {
        @include banner_header(3.2em);
        margin-bottom: 0.3em;
      }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) and (max-width: 1199.98px) {
        @include banner_header(3.3em);
        margin-bottom: 0.4em;
      }

      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) and (max-width: 1920px) {
        @include banner_header(3.4em);
        margin-bottom: 0;
      }

      @media (min-width: 2559.98px) and (max-width: 3999.98px) {
        @include banner_header(8.5em);
        margin-bottom: 0;
      }
    }

    /*====================HEADER TEXT STYLES============= */
    &--content-text {
      font-size: 20px;
      font-weight: 300;

      // Small devices (landscape phones, 576px and up)
      @media (max-width: 767.98px) {
        font-size: 1.4rem;
      }

      @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 1.5rem;
      }

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) and (max-width: 1199.98px) {
        font-size: 1.7rem;
        line-height: 0.9em;
        margin-bottom: 0.6em;
      }

      // Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) and (max-width: 1920px) {
        font-size: 1.8rem;
        font-weight: 200;
        margin-bottom: 1.3em;
      }

      @media (min-width: 2559.98px) and (max-width: 3999.98px) {
        font-size: 1.8rem;
        font-weight: 200;
        margin-bottom: 1.3em;
      }
    }

    /*===============HORIZONTAL DEVIDER=======================*/
    &--content-devider {
      margin-top: 0.5em;
      margin-bottom: 2em;
      border: 0;
      border-top: 2px solid WHITE;
      width: 30%;

      // Large devices (desktops, 992px and up)
      @media (min-width: 992px) and (max-width: 1199.98px) {
        margin-top: 2.5rem;
        margin-bottom: 3.5em;
        width: 40%;
      }

      @media (min-width: 1200px) and (max-width: 1920px) {
        margin-bottom: 3em;
        width: 45%;
      }
    }
  }
}

/*===============NAVBAR BRAND=======================*/
.navbar-brand {
  color: $orange;
  font-size: 1.45em;

  @media (min-width: 1420px) {
    font-size: 2.5em;
  }

  @media (min-width: 2560px) {
    font-size: 4.5em;
  }
}

/*===============PAGE HEADER BUTTON=======================*/
button.btn.btn-outline-light {
  font-size: 0.8rem;
  line-height: 1.9;

  // Small devices (landscape phones, 576px and up)
  @media (max-width: 767.98px) {
    font-size: 1.5rem;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
    font-size: 1.5rem;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {
    line-height: 1.75;
    font-size: 1.5rem;
    padding: 0 1.5rem;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) and (max-width: 1920px) {
    line-height: 1.75;
    font-size: 1.5rem;
    padding: 0 1.1rem;
  }

  @media (min-width: 2559.98px) and (max-width: 3999.98px) {
    font-size: 1.5rem;
    line-height: 1.75;
    padding: 5px 25px;
  }
}

/*===============CRAD sTION=======================*/
.team {
  font-family: $font-stack;

  &-title {
    @include page-title($dark-base, $orange);
  }

  &-divider {
    border: 2px solid $orange;
    width: 15%;
    margin: 5px auto 10px;
  }

  &-subtitle {
    font-family: $font-stack;
    font-weight: 300;
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
  }

  &-member {
    position: relative;
    font-family: "Montserrat", sans-serif;

    &_pro-pic__overlay {
      ul {
        display: inline-block;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0px;
        padding-inline-start: 0px;

        &.list-inline li a i.fa {
          color: $orange;
          transition: ease-in 0.2s;

          &:hover {
            color: black;
            transform: scale(1.5);
          }
        }
      }
    }

    &_pro-pic {
      &__image.img-fluid {
        text-align: left;
        background-color: black;
        max-width: 50%;
        height: 115px;
        border-radius: 50%;
        position: relative;
        left: 45%;
        padding: 7px;
        border: 5px solid $orange;
        transition: all ease-in 0.2s;

        &:hover {
          max-width: 100%;
          height: 250px;
          border-radius: 5px;
          position: relative;
          left: 0%;
          padding: 5px;
          border: 3px solid $orange;

          @media (max-width: 767.98px) {
            max-width: 50%;
            height: 115px;
            border-radius: 10%;
            left: 50%;
            top: 73%;
          }
        }

        @media (max-width: 767.98px) {
          left: 50%;
          top: 73%;
          z-index: 100;
        }
      }
    }

    &_name {
      font-family: $font-stack;
      color: $orange;
      font-size: 1.5em;
      font-weight: 300;
      transition: ease-in 0.2s;
      margin-bottom: 0;

      &:hover {
        transform: scale(1.1);
        font-weight: 500;
      }
    }

    &_info {
      font-family: $font-stack;
    }
  }
}

button.btn-outline-secondary {
  border-color: $orange;
  color: $orange;
  transition: ease-in-out 0.2s;

  &:hover {
    color: white;
    background-color: $orange;
    border-color: white;
    transform: scale(1.1);
  }
}

.modal {
  padding: 15px;
}

h5#exampleModalLabel {
  color: $orange;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

label {
  color: $orange;
}

form {
  margin: 30px;
  color: $orange;
}

input,
select#inputCity {
  border: 0;
  border-bottom: 1px solid $orange;
  color: $orange;
  border-radius: 0;
}

input:focus,
input:active,
select#inputCity:focus,
select#inputCity:active {
  border: 0;
  border-bottom: 1px solid $orange;
  color: $orange;
  border-radius: 0;
}

label {
  color: $orange;
  position: relative;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/*===============PAGE FOOTER=======================*/
footer.page-footer.mt-3 {
  font-family: $font-stack;
  background-color: black;
  color: white;
  padding: 15px 0;
  text-align: left;
  height: 7vh;
}

.bg-red {
  background-color: red;
}

.aboutMe {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profile-divider {
  border: 2px solid $orange;
  width: 15%;
  margin: 10px 0;
}

.aboutMe-modal {
  //transform: translateY(-52vh);
  //position: relative;
  //height: 100%;
  width: 100vw;
  // z-index: 150;
  //position: absolute;
  text-align: center;
  background-color: rgba($aboutMe-bg, 075);
  font-family: $font-stack2;
  padding: 5em 0;

  &-close {
    color: $orange;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 10vw;
    font-size: 3em;
    cursor: pointer;
  }

  &-title {
    @include page-title($orange, $dark-base);
    margin-bottom: 1rem;
    font-weight: 400;
  }

  &-subtitle {
    margin-bottom: 1rem;
    font-weight: 200;
  }

  &-icebreacker {
    text-align: left;
    font-weight: 200;
    color: rgba($orange, 0.85);
    margin-bottom: 1rem;
  }

  &_image.img-fluid {
    background-color: black;
    max-width: 50%;
    height: 115px;
    border-radius: 50%;
    position: relative;
    left: 25%;
    padding: 7px;
    border: 5px solid $orange;
    transition: all ease-in 0.2s;
    margin-bottom: 1rem;

    &:hover {
      max-width: 100%;
      height: 175px;
      border-radius: 25%;
      position: relative;
      left: 25%;
      padding: 5px;
      border: 3px solid $orange;

      @media (max-width: 767.98px) {
        max-width: 50%;
        height: 115px;
        border-radius: 10%;
        left: 50%;
        top: 73%;
      }
    }

    @media (max-width: 767.98px) {
      left: 50%;
      top: 73%;
      z-index: 100;
    }
  }

  &-profile {
    text-align: left;
    font-weight: 200;

    &_title {
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}

.col-6.abooutMe-modal-skill {
  text-align: left;
  font-weight: 200;

  &_title {
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 1rem;
    font-size: 16px;
  }
}

h5.aboutMe-modal-skill_title {
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1rem;
  font-size: 10px;
}

p.aboutMe-modal-profile_text {
  color: rgba($dark-base, 0.8);
  font-weight: 200;
  margin-bottom: 1.5rem;
}

p.aboutMe-modal-skill_text {
  color: rgba($dark-base, 0.8);
  font-weight: 200;
  margin-bottom: 1.5rem;
}

p.progress.aboutMe-modal-skill_status {
  background-color: rgba($dark-base, 0.85);
  margin-left: 0;
}

span.seventyfive {
  width: 75%;
  background-color: rgba($orange, 0.75);
  color: $light-base;
  font-weight: 600;

}

span.eighty {
  width: 80%;
  background-color: rgba($orange, 0.75);
  color: $light-base;
  font-weight: 600;


}

span.eightyfive {
  width: 85%;
  background-color: rgba($orange, 0.75);
  color: $light-base;
  font-weight: 600;

}

span.ninety {
  width: 90%;
  background-color: rgba($orange, 0.75);
  color: $light-base;
  font-weight: 600;

}

button.btn.aboutMe-modal-skill_btn {
  border: 1px solid $orange;
  color: $orange;
  transform: translateX(-14.5vw);

  &:hover {
    color: $light-base;
    background-color: $orange;
    transform: scale(1.1);
    transform: translateX(-14.5vw);
  }
}

a.nav-link.current {
  color: $orange;
}

.header-banner__contact {
  position: relative;
  top: 5vh;

  form {
    color: $font-color;
    background-color: $form-bg;
    padding: 1rem;
    position: relative;
    height: 50.1vh;
    border-radius: 5px;

  }

  label {
    z-index: 10001;
    color: rgba($navbar-bg, 0.75);
    position: relative;
    top: 1.5rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba($orange, 0.6);
    position: relative;
    top: -1.5rem;

    &:focus {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid rgba($orange, 0.6);
      color: $orange-light;
    }
  }


  &-form-header {
    text-align: center;
    text-transform: capitalize;
    background-color: $form-header-bg;
    font-weight: 400;
    width: 110%;
    margin: auto;
    position: relative;
    top: -1rem;
    left: -1rem;
    height: 6vh;
    padding-top: .5rem;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


    &--title {
      color: $font-color;
      font-weight: 300;
      position: relative;
      transform: translateX(29%);

      &-secondary {
        color: $theme-color2;
      }
    }
  }

  &-form-body {
    &--submit.btn {
      display: inline-block;
      background-color: $theme-color2;
      color: $theme-color1;
      position: relative;
      padding: 8px;
      border-radius: 5px;
      font-size: 1em;
      letter-spacing: 1px;
      font-family: $font-stack2;
      transition: ease-in-out .35s;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;

      &:hover {
        color: $orange;

      }

      &:visited {
        color: $font-color;

      }

    }
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap.scss";