@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet');
/*========MIXINS==============*/
body {
  font-family: 'Raleway';
  font-size: 16px;
  color: #000;
  line-height: 1.5;
  font-weight: 400;
}

.page-header {
  height: 75vh;
  position: relative;
  background-image: linear-gradient(to right, #f2a51ad1, #ea6227), url(../images/robert-gomez-X1YdDXmHS4w-unsplash.jpg);
  background-repeat: no-repeat;
  font-family: Raleway;
  font-weight: 700;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

@media (max-width: 575.98px) {
  .page-header {
    height: 36vh;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .page-header {
    height: 40vh;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .page-header {
    height: 51vh;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .page-header {
    height: 55vh;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .page-header {
    height: 75vh;
  }
}

.page-header_banner {
  color: #fff;
  position: relative;
  top: 5%;
  /*==============HEADER-HEADING H1 STYLES======================*/
  /*====================HEADER TEXT STYLES============= */
  /*===============HORIZONTAL DEVIDER=======================*/
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .page-header_banner {
    position: relative;
    top: 10%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .page-header_banner {
    position: relative;
    top: 10%;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .page-header_banner {
    height: 65vh;
  }
}

.page-header_banner--content-header {
  font-size: 3.5em;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .page-header_banner--content-header {
    font-size: 5.5em;
    margin-bottom: 0.3em;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .page-header_banner--content-header {
    font-size: 5.5em;
    margin-bottom: .4em;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .page-header_banner--content-header {
    font-size: 5.5em;
    margin-bottom: 0.5em;
  }
}

.page-header_banner--content-text {
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .page-header_banner--content-text {
    font-size: 2.1em;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .page-header_banner--content-text {
    font-size: 2.4rem;
    line-height: 1.4em;
    margin-bottom: .6em;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .page-header_banner--content-text {
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 1.3em;
  }
}

.page-header_banner--content-devider {
  margin-top: .5em;
  margin-bottom: 2em;
  border: 0;
  border-top: 2px solid WHITE;
  width: 30%;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .page-header_banner--content-devider {
    margin-top: 2.5rem;
    margin-bottom: 3.5em;
    width: 40%;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .page-header_banner--content-devider {
    margin-bottom: 3em;
    width: 45%;
  }
}

/*===============NAVBAR BRAND=======================*/
.navbar-brand {
  color: #ea6227;
  font-size: 1.45em;
}

@media (min-width: 1420px) {
  .navbar-brand {
    font-size: 2.5em;
  }
}

@media (min-width: 2560px) {
  .navbar-brand {
    font-size: 4.5em;
  }
}

/*===============NAV TOGGLER=======================*/
.navbar-toggler {
  border: 1px solid white;
}

a.nav-link {
  color: white;
  font-weight: 400;
  font-size: 1.1em;
}

a.nav-link:hover {
  color: black;
}

a.nav-link:active {
  color: #ea6227;
}

a.nav-link.active {
  color: black;
}

@media (max-width: 425px) {
  a.nav-link {
    font-weight: 200;
    font-size: .5em;
    padding: .2rem .25rem;
  }
}

@media (min-width: 1420px) {
  a.nav-link {
    font-size: 1.5em;
  }
}

@media (min-width: 2560px) {
  a.nav-link {
    font-size: 2.5em;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: 1.5rem;
  }
}

/*===============PAGE HEADER BUTTON=======================*/
button.btn.btn-outline-light {
  font-size: 0.8rem;
  line-height: 1.9;
}

@media (min-width: 768px) and (max-width: 991.98px) {
  button.btn.btn-outline-light {
    font-size: 2.0rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  button.btn.btn-outline-light {
    line-height: 1.8;
    font-size: 2.5rem;
    padding: 0 1.5rem;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  button.btn.btn-outline-light {
    line-height: 1.8;
    font-size: 1.4rem;
    padding: 0 1.1rem;
  }
}

/*===============CRAD SECTION=======================*/
.team-members {
  font-family: Raleway;
  font-weight: 300;
}

.team-members .font-weight-medium {
  font-weight: 400;
}

.team-members .bg-light {
  background-color: #f4f8fa !important;
}

.team-members .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.team-members .pro-pic {
  min-height: 200px;
}

.team-members .pro-pic .card-img-overlay {
  background: rgba(26, 139, 243, 0.87);
  display: none;
}

.team-members .pro-pic .card-img-overlay ul {
  top: 50%;
}

.team-members .pro-pic .card-img-overlay ul li a {
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  color: black;
}

.team-members .pro-pic .card-img-overlay ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: white;
}

.team-members .pro-pic:hover .card-img-overlay {
  display: block;
}

/*===============PAGE FOOTER=======================*/
footer.page-footer.mt-3 {
  font-family: Raleway;
  background-color: black;
  color: white;
  padding: 15px 0;
  text-align: left;
  height: 7vh;
}

.bg-red {
  background-color: red;
}
